* {
    padding: 0px;
    margin: 0px;
}
body {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #F5FFFA;
    font-family: sans-serif;
}
.header {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.header_logo {
    padding: 10px;
    width: 138px;
    height: 64px;
}

.header_nav {
    width: 50%;
    text-align: justify;
    display: flex;
    margin-left: 20%;
    margin-top: 30px;
}

.header_a {
    margin-right: 40px;
    display: inline;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    color: black;
    text-decoration: none;

    transition: color 0.1s linear;
}

.header_a:hover {
    color: orange;
}

.header_adress {
    background-color: #fcff18;
    display: flex;
    width: 24%;
    height: 90px;
}

.header_p {
    padding-top: 25px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
}

.intro {
    width: 100%;
    height: 550px;
    background-image: url("./img/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
}

.intro_p {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 80px;
    padding-top: 200px;
}

.intro_button {
    margin-top: 50px;
    width: 228px;
    height: 64px;
    font-family: sans-serif;
    background-color: #fcff18;
    font-size: 18px;
    border-radius: 15px;
    font-weight: bold;
    border: none;
}

.content1 {
    width: 100%;
    height: fit-content;
    font-family: sans-serif;
}

.content1_p {
    width: 100%;
    font-size: 43px;
    text-align: center;
    font-weight: bold;
    color: black;
    padding-top: 100px;
}

.content1_div {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
}

.content1_text {
    width: 33%;
    text-align: center;
}

.content1_img {
    width: 88px;
    height: 88px;
    border-radius: 50%;
}

.content1_div_p {
    margin-top: 40px;
    font-weight: lighter;
    font-size: 16px;
    line-height: 1.7;
}

.content2 {
    margin-top: 80px;
    width: 100%;
    background-image: url("./img/add-bg.jpg");
    height: 500px;
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    color: white;
}

.content2_div {
    width: 50%;
    padding-left: 50%;
    padding-top: 50px;
}

.content2_p {
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 30px;
}

.content2_text {
    height: 36px;
    display: flex;
    font-size: 16px;
    padding-top: 10px;
}

.content2_img {
    width: 32px;
    height: 32px;
    padding-right: 15px;
}

.content2_text_p {
    margin-top: 15px;
    width: 200px;
}

.content2_bottom {
    margin-top: 30px;
    width: 228px;
    height: 64px;
    font-family: sans-serif;
    background-color: #fcff18;
    font-size: 18px;
    border-radius: 15px;
    font-weight: bold;
    border: none;
}

.content3 {
    padding-top: 80px;
    width: 100%;
    height: fit-content;
}

.content3_ul {
    width: 80%;
    padding-left: 10%;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: lighter;
    list-style: none;
    display: flex;
}

.content3_ul_li {
    width: 25%;
    text-align: center;
    line-height: 1.5;
}

.content3_span {
    background-color: #fcff18;
    color: black;
    font-size: 36px;
    font-weight: bold;
}

.content4 {
    width: 100%;
    height: fit-content;
    font-family: sans-serif;
}

.content4_p {
    font-size: 43px;
    font-weight: bold;
    padding-top: 80px;
    padding-bottom: 60px;
    text-align: center;
}

.content4_div {
    display: flex;
    width: 80%;
    padding-left: 10%;
}

.content4_person {
    width: 25%;
    text-align: center;
    align-content: center;
}

.content4_img {
    border-radius: 50%;
    width: 200px;
    height: 200px;

    transition: opacity 0.1s linear;
}

.content4_img:hover {
    color: #fcff18;
}

.content4_h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
}

.content4_p1 {
    font-size: 16px;
    line-height: 1.7;
}

.content5 {
    margin-top: 80px;
    width: 100%;
    height: fit-content;
    display: flex;
    font-family: sans-serif;
}

.content5_img {
    height: 550px;
    width: 40%;
}

.content5_div {
    width: 55%;
    padding-left: 5%;
}

.content5_h1 {
    padding-top: 30px;
    font-size: 43px;
    font-weight: bold;
}

.content5_p {
    padding-top: 30px;
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.8;
    padding-bottom: 40px;
}

.content5_form {
    width: 550px;
    height: 250px;
    background-color: #222222;
    position: relative;
}

#firstnum {
    width: 230px;
    height: 50px;
    color: black;
    border: 0;
    margin-top: 25px;
    margin-left: 30px;
    font-size: 20px;
}

#secondnum {
    width: 230px;
    height: 50px;
    color: black;
    border: 0;
    margin-top: 25px;
    margin-left: 30px;
    font-size: 20px;
}

#content5_button {
    width: 230px;
    height: 50px;
    font-weight: bold;
    color: black;
    font-size: 25px;
    border: 0;
    background-color: #fcff18;
    margin-top: 25px;
    margin-left: 30px;
}

#content5_result {
    background-color: white;
    width: 230px;
    height: 35px;
    vertical-align: middle;
    margin-left: 35px;
    margin-top: 25px;
    vertical-align: middle;
    padding-top: 15px;
}

.content5_i {
    font-size: 16px;
    color: white;
    line-height: 2;
    margin-left: 30px;
    margin-top: 30px;
    position: absolute;
}

.content6 {
    width: 100%;
    height: 200px;
    background-image: url('./img/newsletter-bg.jpg');
    background-size: cover;
    display: flex;
}

.content6_p {
    font-size: 43px;
    font-weight: bold;
    color: white;
    margin-left: 10%;
    margin-top: 80px;
}

#content6_email {
    width: 25%;
    height: 60px;
    font-size: 20px;
    border: 0;
    margin-top: 75px;
    margin-left: 5%;
}

.content6_button {
    margin-top: 30px;
    width: 15%;
    height: 60px;
    background-color: #fcff18;
    font-size: 20px;
    font-weight: bold;
    border: none;
    margin-top: 75px;
}

.map {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
}

.map_size {
    padding-left: 10%;
    width: 50%;
}

.map_p {
    width: 30%;
    font-size: 40px;
    font-weight: bold;
    margin-left: 10%;
    margin-top: 100px;
}

.footer {
    position: relative;
    width: 100%;
    height: 350px;
    background-image: url('./img/footer-bg.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

.footer_sections {
    padding-top: 100px;
    display: flex;
    width: 80%;
    margin-left: 10%;
}

.footer_h1 {
    width: 25%;
    font-size: 24px;
    font-weight: bold;
}

.footer_div {
    width: 80%;
    margin-top: 30px;
    display: flex;
    margin-left: 10%;
}

.footer_div_img {
    width: 25%;
    height: fit-content;
    display: flex;
    color: #A9A9A9;
    font-weight: bold;
}

.footer_divone_p {
    margin-left: 10px;
}

.footer_menu {
    display: flex;
}

.footer_menu_p {
    margin-left: 10%;
    font-size: 16px;
    font-weight: lighter;
    margin-top: 110px;
    color: #808080;
}

.footer_nav {
    margin-left: 10%;
    list
    display: flex;
    width: 40%;
    margin-top: 110px;
}

.footer_a {
    margin-left: 5%;
    width: 20%;
    color: white;
    text-decoration: none;
    font-size: 14px;

    transition: color 0.1s linear;
}

.footer_a:hover {
    color: orange;
}